@import "./variables.css";

  /*--------------------------/
  *   -------
  *    ABOUT 
  *   -------
  *-------------------------*/

  #About{
    background-color: #fc4444;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display:flex;
    padding: 2% 8% 8% 8%;
    margin-top:100px;
    
}

#aboutContent {
    color:white;
    line-height: 19px;
    text-indent: 2em;
}

.headshot {
    margin-top: 40px;
    max-width: 200px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.cont{
    /*width: 80%;
    margin: 0 auto;*/
    margin-top: 40px;
}
.sectionAltHead {
    color:white;
}

.emphasis {

}
.emphasisAlt{
    text-decoration: underline black;
    font-weight: bolder;
    font-size: 1.1em;
    color:#3FEEE6;
    
}
#emphasisLA {
    font-style: oblique;
    color:#1f1e70;
}

  /*--------------------------/
  *   -------
  *    Media Query
  *   -------
  *-------------------------*/

@media only screen and (min-width: 768px) {
    .cont{
        
    }
    #About{
        width:40%;
        margin: 0 auto;
        margin-top:200px;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
}
  }

