@import "./variables.scss";



/*---------------------
*
* Card Css
*
*----------------------*/

#projects {
    margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    padding:12px 20px;
    margin: 0 auto;
    color: color(primary);
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.18);
    color: color(text);
    box-sizing: border-box;
}
#card-cont{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2% 8% 8% 8%;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}

@media only screen and (min-width: 768px) {
    #card-cont{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1160px) {
    #card-cont{
        grid-template-columns: 1fr 1fr;
    }
  }

.card:hover{
    box-shadow: 4px 8px 16px rgba(0,0,0,0.18);
}
.pTitle {
    font-size: 1.25em;
    display:inline-block;
    
}
.date {
    float:right;
    color: color('text-light');
}
.pdescription {
    line-height: 19px;
    color: color('text-light');
}

/*---------------------
*
* Language Buttons
*
*----------------------*/
.l-btn-wrapper{
    margin: 6px 0;
}
.lang-button {
    background-color: #1f1e70;
    color: white;
    
    font-size: .8em;
    border-radius: 12px;
    padding: 8px;
    display:inline-block;
    margin-right:  7px;

}

