
.banner {
    width:500px;
    height:500px;

}
a {
    text-decoration: none;
}
.hero{
   
    /* Sizing */
    width: 100vw;
    -moz-width: 100vw;
    -webkit-width: 100vw;
    height: 100vh;
    -moz-border-height: 100vh;
    -webkit-height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    -moz-display: flex;
    -webkit-display: flex;

    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    
    /* Text styles */
    text-align: center;
    -moz-text-align: center;
    -webkit-text-align: center;
    color:rgb(48, 48, 48);
    -moz-color:black;
    -webkit-color:black;
    /* image scaling 
    background-image: url(".././img/greenoak.jpg");
    -moz-background-image: url(".././img/hills.jpg");
    -webkit-background-image: url("./img/hills.jpg");*/
    background-position: center center;
    -moz-background-position: center center;
    -webkit-background-position: center center;
    background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
}
.text {
    line-height: 1.5em;
    font-size: .85em;
}
.hero h1 {
    /* Text styles */

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    
}
#bannertopLinks{
    top: 5%;
    left: 90%;
    transform: translate(-50%, -30%);
    position: absolute;
    margin-right:20px;
}
body{
    margin:0;
    font-family: 'Raleway', sans-serif;
}

.sectionHead {
    text-align: center;
    font-size: 2em;
    color: rgb(48, 48, 48);
}
.text {
    line-height: 20px;
    color: color('text-light');
}

  /*--------------------------/
  *   -------
  *    ABOUT 
  *   -------
  *-------------------------*/
  #About{
    background-color: #fc4444;
    align-items: center;
    display:flex;
}

#aboutContent {
    color:white;
    line-height: 19px;
    text-indent: 2em;
}

.headshot {
    max-width: 200px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.container {
    padding:20px;
    margin:auto 0;
    vertical-align: center;
    display: grid;
    grid-template-columns: 1fr;

}
.cont{
    width: 80%;
    margin: 0 auto;
    line-height: 20px;
}
.sectionAltHead {
    color:white;
}
.emphasis {

}
.emphasisAlt{
    text-decoration: underline black;
    font-weight: bolder;
    font-size: 1.1em;
    color:#3FEEE6;
    
}
#emphasisLA {
    font-style: oblique;
    color:#1f1e70;
}

  /*--------------------------/
  *   -------
  *    Media Query
  *   -------
  *-------------------------*/


  