$colors : (
    primary: #3FEEE6,
    primary-dark: #326268,
    secondary: #ffff,
    title: #38393a,
    text: #636363,
    text-light: #a3a3a3,
    alt-text: rgba(71, 71, 71, 0),
    highlight: #fc4445,
);
@function color($color-name) {
    @return map-get($colors, $color-name)
}